/* General List Item Style */
.list .item-text {
    max-height: unset;
    display: block;
}

/* Home Page Styles */
.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title, .page-title {
  flex: 1;
  text-align: center;
}

/* Error Messages Styles */
.error-message, .error-message-inline {
  text-align: center;
  color: red;
}

.error-message {
  margin-bottom: 10px;
  background-color: #ff0033;
  border-radius: 8px;
  max-width: 300px;
  width: 75%;
  margin: 16px auto;
  padding: 8px 16px;
  color: white;
}

/* Button Styles */
.button-group {
  display: flex;
  gap: 16px;
}

.back-button, .login-button, .save-button {
  width: 50%;
}

.back-button {
  background-color: #E1E2EC;
}

/* Profile Page Styles */
.profile-header, .business-header {
  display: flex;
  align-items: center;
}

.profile-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.info-text {
  text-align: center;
  margin-top: 26px;
}

/* Popup Styles */
.popup-title {
  text-align: center;
}

.star-icon {
  font-size: 26px;
  cursor: pointer;
  display: inline-block;
}

.star-rating {
  text-align: center;
}

/* Business Item Styles */
.business-item {
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
  .business-header {
    justify-content: space-between;
    padding-bottom: 16px;

    .button {
      margin-right: 0;
      padding: 0;
    }
  }

  .business-name {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
  }

  .business-description, .business-contact, .business-location {
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
    vertical-align: sub;
  }

  .business-image-container {
    margin-bottom: 20px;
  }

  .business-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .icon {
    margin-right: 8px;
  }
}

/* Back Icon Style */
.back-icon {
  font-size: 18px;
  margin-right: 10px;
}
